---
// Layouts
import PageTemplate from "../layouts/PageTemplate.astro";

// Component Imports
// Sections
// Main parts
// UI/UX extra bits

const title = "StateSong.net - 2022";
const description = "StateSong is a patented technology that converts biological data into music. The idea? Capture and record a muscial rendition of a targeted state, say calm or focused. Then, replay it to bring your mind and body into that state. Using StateSong as a biofeedback tool, we can entrain our minds and bodies towards deeper states of calm, focus, sleep, exercise, even happiness.";
const themeColor = "#FAFAFA";
---

<PageTemplate title={title} description={description} themeColor={themeColor}>
    <article class="flex flex-col h-full justify-center">
        <p class="font-montserrat font-bold font text-lg leading-4">
            StateSong Mobile Application - MediMuse LLC
        </p>
        <p class="font-montserrat font-medium text-sm">© 2022</p>
        <p class="mt-2 font-montserrat font text-xs">
            statesong.net · for android
        </p>
    </article>
</PageTemplate>
